*{
    margin: 0;
    padding: 0;
}


.slider{
    
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding-top: 20px;
    align-items: center;
    width: 95vw;
    height: 40vh;
}

.carousel-inner{
 width: 95vw;
 height: 40vh;
 background-size:contain;
}

.carousel-inner img{
 width: auto;
 height: 40vh;
}


.section{
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: auto;
    margin-top: 20px;
}
.test{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    text-align: justify;
    background-color:rgb(255, 255, 255);
    margin-bottom: 20px;
    width: 80%;
}



footer{
    display: flex;
    background-color: rgb(244, 240, 240);
    text-align: center;
    height: 15vh;
}
footer div{
    
}
