*{
    margin: 0;
    padding: 0;
}


.slider{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 40vh;
    
}
.carousel-inner{
 width: 95vw;
 height: 40vh;
 background-size:contain;
}

.carousel-inner img{
 width: auto;
 height: 40vh;
}


h3{
    color: rgb(0, 0, 0);
    padding: 20px;
}
.section{
 
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: auto;
    margin-bottom: 10px;
    
}
.test{
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    text-align: justify;
    background-color:rgb(250, 248, 248);
    margin-bottom: 10px;
    width: 95%;
}

.footer{
    margin-top: 20px;
    height: 40vh;
    background-color: rgb(225, 225, 225);
}
